/* Northern Space Monkey CSS */

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    background-color: #000000;
}

.header{
    color: #4d88ca;
    float: left;
}

a{
    color: #ffffff;
}
a.visited{
    color: #ffffff;
}
a.hover{
    background-color: #0c3c3c;
    color: #ffffff;
}

.img{
    background-color: transparent;
}
.imgLogo{
    overflow: hidden;
    height: 200px;
    width: auto;
}

.imgRounded{
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #ffffff;
    height: 200px;
    width: auto;
    filter: drop-shadow(-10px 10px 4px #3c3c3c);
}

.imgFloatLeft{
    float: left;
    margin-right: 10px;
}

.imgFloatRight{
    float: right;
    margin-left: 10px;
}

.articleImage{
    display: block;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid #ffffff;
}

.articleDiv{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

.centerDiv{
    text-align: center;
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.keywords{
    border-top: 1px dotted #363636;
    font-size: 0.6em;
    color: #cccccc;
}
.dateStamp{
    font-size: 0.6em;
    color: #cccccc;
}

.bodyText{
    color: #ffffff;
    padding-left: 220px;
}
.bodyText h1{
    font-size: 2em;
    font-weight: 700;
}

.navigation{
    position: absolute;
    top: 300px;
    left: 0;
    height: auto;
    width: 180px;
    z-index: 10;
}
.navigation ul{
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    text-decoration: none;
}
.navigation li{
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    text-decoration: none;
    border-bottom: 1px dashed #3c3c3c;
    display: block;
    width: 100%;
}

.navigation a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding-left: 10px;
}
.navigation a:visited{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding-left: 10px;
}
.navigation a:hover{
    background-color: #0c3c3c;
    color: #ffffff;
    display: block;
    padding-left: 10px;
}

.selectedPage{
    color:#0c3c3c;
    font-weight: 400;
}

.columnDiv{
    column-count: 3;
    column-gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px #3c3c3c dashed;
}
.columnDiv h4{
    color: #4d88ca;
}

.leadLetter{
    color: #4d88ca; 
    font-size: 2em;
}

.clearSpan{
    clear: both;
    height: 30px;
}

.btn{
    display: block;
    background-color: #0c3c3c;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    border: 2px solid #093939;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.morebtn{
    display: block;
    background-color: #0c3c3c;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    border: 2px solid #093939;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.footer{
    position: fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    border-top: 2px solid #0c3c3c;
    margin-top: 3px;
    text-align: center;
    color: #4d88ca;
    background-color: #000000;
    z-index: 10;
}
